main p {
    font: 16px/180% 'DejaVu Serif', 'Bitstream Vera Serif', 'Georgia', serif
}

h1 {
    text-align: center;
}

main {
    width: 720px;
    margin: 0 auto;
    padding: 0;
}

@media screen and (max-width: 720px) {
    main {
        width: 100%; /* Adjusted width for smaller screens */
    }
}

input#search {
    display: block;
    margin: 0 auto;
    height: 1.6rem;
}

blockquote {
    border-left: 10px solid #ccc;
    background: #f8f8f8;
    margin: 1em 0em;
    padding: 0.2em 1em;
}

blockquote > footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background: none;
    border: none;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

button svg {
    width: 22px;
    height: 22px;
}
